@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:white;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:invalid[focused="true"]{
  @apply border-red-500
} 

.test{
    object-fit: cover;   
    width:100px;
    height:400px;
    z-index:1000000000;
}

.primaryBtn{
  @apply py-3 text-sm bg-[#C78F6D] rounded-md text-white font-medium w-[200px] transition hover:bg-[#caa385] flex items-center justify-center gap-x-2 cursor-pointer
}

.headingClr{
  @apply text-white
}

.paragraphClr{
  @apply text-gray-600
}
